{% extends 'base.html' %}
{% load static %}
{%block head%}
<head>
  <title>Cadastrar Veiculo</title>
  <link rel="stylesheet" href="{% static 'clientes/cadastro/css/style.css' %}">
</head>
{%endblock%}

{% block content %} 
<body>
    <form action="{%url 'clientes:cadastrar'%}" method="post" class="formulario">
        {% csrf_token %}
        <h1>Cliente:</h1>
        <div class="mb-3 mx-auto mt-custom">
            <label for="FormControlInput" class="form-label">Nome</label>
            <input type="text" name="nome" class="form-control" id="FormControlInput">
          </div>
          <div class="mb-3 mx-auto mt-custom">
            <label for="FormControlInput" class="form-label">Telefone</label>
            <input type="text" name="telefone" class="form-control" id="FormControlInput">
          </div>
          <div class="mb-3 mx-auto mt-custom">
            <label for="FormControlInput" class="form-label">Endereço</label>
            <input type="text" name="endereco" class="form-control" id="FormControlInput">
          </div>
         
          <h1>Veiculo:</h1>
        <div class="mb-3 mx-auto mt-custom">
            <label for="FormControlInput" class="form-label">Placa</label>
            <input type="text" name="placa" class="form-control" id="FormControlInput">
          </div>
          <div class="mb-3 mx-auto mt-custom">
            <label for="FormControlInput" class="form-label">Modelo</label>
            <input type="text" name="modelo" class="form-control" id="FormControlInput">
          </div>
          <div class="mb-3 mx-auto mt-custom">
            <label for="FormControlInput" class="form-label">Ano</label>
            <input type="number" name="ano" class="form-control" id="FormControlInput">
          </div>
          <div class="mb-3 mx-auto mt-custom">
            <label for="FormControlInput" class="form-label">Defeito</label>
            <input type="text" name="defeito" class="form-control defeito-box" id="FormControlInput">
          </div>
          <div class="btns">
            <button type="submit" value="cadastrar" class="btn mt-5 cadastrar">Cadastrar</button>
            <button type="submit" value="cancelar" class="btn mt-5 ms-5 cancelar">Cancelar</button>
          </div>
    </form>
</body>

{% endblock content %}